---
layout: base
redirect: /ok/
---

<div class="root-layout">
  {% include header.html %}
  <main class="main" role="main">
    <section class="section s-main">
      <div class="container">
        <div class="s-main__inner">
          <h1 class="s-main__title">
            Ставь крутые цели и&nbsp;достигай их легко и&nbsp;с&nbsp;удовольствием
          </h1>
          <p class="s-main__introtext">
            Узнай технологию создания прорывных результатов в жизни и бизнесе
          </p>
        </div>
        <span class="s-main__sign">Спикер — Николай Воробьёв</span>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <h2 class="title">Ты&nbsp;можешь больше</h2>

        <p class="introtext">У&nbsp;меня есть пошаговая технология, которая поможет поставить большие цели и&nbsp;достичь&nbsp;их, несмотря на&nbsp;трудности и&nbsp;обстоятельства</p>

        <div class="row">
          <div class="col-xs-4">
            <h4>Поверить в&nbsp;себя</h4>
            <p>Даже если опыт говорит &laquo;у&nbsp;тебя не&nbsp;получится&raquo;</p>
          </div>
          <div class="col-xs-4">
            <h4>Определиться с&nbsp;целями</h4>
            <p>Найти &laquo;ту&nbsp;самую&raquo;, истинную цель, от&nbsp;которой ты&nbsp;покроешься мурашками</p>
          </div>
          <div class="col-xs-4">
            <h4>Взять и&nbsp;достичь</h4>
            <p>Не&nbsp;сдаваться, быть замотивированным и&nbsp;продуктивным всю дорогу к&nbsp;цели</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section s-results">
      <div class="container">
        <h2 class="title">Что возможно в&nbsp;твоей жизни благодаря этой системе</h2>

        <p class="introtext">Эта технология позволила мне и&nbsp;15000 моих учеников создать большую разницу в&nbsp;своей жизни&nbsp;&mdash; в&nbsp;спорте, деньгах, карьере, бизнесе и&nbsp;отношениях</p>

        <div class="row">
          <div class="col-xs-6">
            <h4>Чего добился я</h4>
            <article class="result">
              <h5>Спорт</h5>
              <p>Похудел на 21 килограмм</p>
              <p>Пробежал полумарафон</p>
              <p>Выполнил норматив КМС по пауэрлифтингу</p>
              <p>Прошёл курс обучения парашютному спорту AFF</p>
            </article>
            <article class="result">
              <h5>Путешествия</h5>
              <p>Жил в Питере, Москве, Киеве и Праге</p>
              <p>Учился в Германии</p>
              <p>Получил ВНЖ в Европе</p>
            </article>
            <article class="result">
              <h5>Образование</h5>
              <p>Получил сертификат MCSE и ещё 15 разных сертификатов по IT</p>
              <p>Выучил английский, немецкий и испанский</p>
              <p>Научился продавать и создал отдел продаж из 6 человек</p>
              <p>Получил сертификат мастера НЛП</p>
            </article>
            <article class="result">
              <h5>Карьера и профессия</h5>
              <p>Стал тренером и написал 15 тренингов</p>
              <p>Вёл тренинги за границей, в 7 разных странах, в том числе на английском языке</p>
              <p>Выступал на радио, и сделал два своих реалити-шоу на телевидении</p>
              <p>Написал и выпустил 3 бумажные книги и несколько небольших электронных</p>
              <p>Много раз выступал как эксперт на телевидении на Первом, ТНТ, СТБ</p>
            </article>
            <article class="result">
              <h5>Бизнес</h5>
              <p>Построил бизнес в сфере IT — занял 25% своего рынка — 297 корпоративных клиентов</p>
              <p>Построил международную тренинговую компанию</p> 
              <p>Провел мастер-класс на 1 000 человек</p>
              <p>Запустил тренинги в 20 городах</p>
            </article>
          </div>
          <div class="col-xs-6">
            <h4>Чего добились ученики</h4>
            <article class="result">
              <h5>Деньги</h5>
              <p>
                <em>Миша Мартынов</em>
                стал долларовым миллионером за 4 месяца и купил завод (Усть-Ишимский комбинат)
              </p>
              <p>
                <em>Арсений Плотников</em>
                квартира с двумя балконами в Москве
              </p>
            </article>
            <article class="result">
              <h5>Спорт</h5>
              <p>
                <em>Алексей Девятериков</em>
                открыл школу виндсёрфинга на Канарах
              </p>
              <p>
                <em>Саша Кайсин</em>
                организует парусные регаты, cреди клиентов Альфа-банк и Порш
              </p>
              <p>
                <em>Максим Погребинский</em>
                скинул 20 кг
              </p>
            </article>
            <article class="result">
              <h5>Карьера и творчество</h5>
              <p>
                <em>Надя Хохлова</em>
                запустила собственный бренд модной одежды
              </p>
              <p>
                <em>Дима Никитин</em>
                нашел 18 млн.р. финансирования на свой первый фильм
              </p>
              <p>
                <em>Ирина Устьянцева</em>
                дизайнер интерьеров, обучает людей в передаче «Квартирный вопрос» на НТВ
              </p>
              <p>
                <em>Алексей Черновой</em>
                cтал крутым фотографом, организует фестиваль SunArt
              </p>
              <p>
                <em>Алексей X</em>
                получил семь миллионов рублей из государственного финансирования на открытие центра молодежного инновационного творчества
              </p>
            </article>
            <article class="result">
              <h5>Бизнес</h5>
              <p>
                <em>Константин Базоров</em>
                открыл сеть магазинов спортивного оборудования в 4 городах, победил в конкурсе «Молодой предприниматель России 2015»
              </p>
              <p>
                <em>Константин Бенко</em>
                директор компании Инфобизнес2.ру, за время тренинга увеличил прибыль компании в три раза
              </p>
              <p>
                <em>Максим Мартьянов</em>
                стал эксклюзивным представителем EBC-Brakes в России
              </p>
              <p>
                <em>Артем Хлопов</em>
                открыл сеть кальянных
              </p>
              <p>
                <em>Дмитрий Гейман</em>
                открыл сеть химчисток
              </p>
              <p>
                <em>Эви Скрынник</em>
                открыла финансовую компанию Fingooroo
              </p>
              <p>
                <em>Алексей Иванов</em>
                открыл мастерскую дизайна интерьеров Geometrium
              </p>
              <p>
                <em>Николай Коржик</em>
                открыл международную тренинговую компанию GrowUpCenter
              </p>
              <p>
                <em>Андрей Гуцул</em>
                создал производство и магазин изделий из кожи ToolBag
              </p>
              <p>
                <em>Ислам Ибрагимов</em>
                открыл медицинский центр в Праге
              </p>
            </article>
          </div>
        </div>
      </div>
    </section>

    <section class="section s-anchor">
      <div class="container">
        <h3 class="title">Записывайся на вебинар чтобы начать достигать прорывных результатов</h3>
        <div class="row">
          <div class="col-xs-9">
            <div class="form">
              <form method="post" action="http://love.prorealnost.com/order.php">
                <ul class="form__wrap row">
                    <li class="form__item col-xs-4">
                      <input type="text" class="input" name="email" placeholder="ivan@ivanov.com">
                    </li>
                    <li class="form__item col-xs-4">
                      <button class="btn btn-primary">
                        Получить запись вебинара
                      </button>
                    </li>
                </ul>
                <input type="hidden" name="trello-list-id" value="578bbb078b6762cb2588d30e" />
                <input type="hidden" name="mailchimp-product-interest-id" value="c50e3cf83a" />
                <input type="hidden" name="redirect" value="{{ site.url }}{{ page.redirect }}" />
                <input type="hidden" name="form" value="anchor1" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section s-program">
      <div class="container">
        <h2 class="title title--center">Программа вебинара</h2>
        <div class="row step">
          <div class="col-xs-4 step__item">
            <h5>Планка</h5>
            <p>Перестать соглашаться на&nbsp;меньшее и&nbsp;поднять свою планку</p>
          </div>
          <div class="col-xs-4 step__item">
            <h5>Выбор</h5>
            <p>Делать&nbsp;то, что хочется, а&nbsp;не&nbsp;то, что надо и&nbsp;не&nbsp;то, чего от&nbsp;тебя ждут другие</p>
          </div>
          <div class="col-xs-4 step__item">
            <h5>Готов</h5>
            <p>Развивать личные качества, которые помогут достичь цели</p>
          </div>
          <div class="col-xs-4 step__item">
            <h5>Цель</h5>
            <p>Поставить цель так, чтобы не&nbsp;было шансов её&nbsp;не&nbsp;достичь</p>
          </div>
          <div class="col-xs-4 step__item">
            <h5>План</h5>
            <p>Спланировать действия по&nbsp;достижению цели</p>
          </div>
          <div class="col-xs-4 step__item">
            <h5>Вовлечение</h5>
            <p>Привлечь нужные ресурсы&nbsp;&mdash; найти время, инвестиции, нужных людей</p>
          </div>
          <div class="col-xs-4 step__item">
            <h5>Мотивация</h5>
            <p>Иметь эффективное внутреннее состояние&nbsp;&mdash; не&nbsp;выпадать, не&nbsp;бросать и&nbsp;не&nbsp;сдаваться</p>
          </div>
          <div class="col-xs-4 step__item">
            <h5>Продуктивность</h5>
            <p>Быть продуктивным, не&nbsp;лениться, а&nbsp;двигаться к&nbsp;цели шаг за&nbsp;шагом</p>
          </div>
        </div>
      </div>
    </section>

    {% include about.html %}

    <section class="section s-anchor">
      <div class="container">
        <h3 class="title">Введи свой емейл чтобы получить запись вебинара</h3>
        <div class="row">
          <div class="col-xs-9">
            <div class="form">
              <form method="post" action="http://love.prorealnost.com/order.php">
                <ul class="form__wrap row">
                    <li class="form__item col-xs-4">
                      <input type="text" class="input" name="email" placeholder="ivan@ivanov.com">
                    </li>
                    <li class="form__item col-xs-4">
                      <button class="btn btn-primary">
                        Получить запись вебинара
                      </button>
                    </li>
                </ul>
                <input type="hidden" name="trello-list-id" value="578bbb078b6762cb2588d30e" />
                <input type="hidden" name="mailchimp-product-interest-id" value="c50e3cf83a" />
                <input type="hidden" name="redirect" value="{{ site.url }}{{ page.redirect }}" />
                <input type="hidden" name="form" value="anchor2" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>
</div>

{% include footer.html %}
