---
layout: base
---

<div class="root-layout">
  {% include header.html %}
  <main class="main" role="main">
    <section class="section s-main">
      <div class="container">
        <div class="s-main__inner">
          <h1 class="s-main__title">
            Ставь крутые цели и&nbsp;достигай их&nbsp;легко и&nbsp;с&nbsp;удовольствием
          </h1>
          <p class="s-main__introtext">
            Узнай технологию создания прорывных результатов в жизни
          </p>
          <div class="row">
            <div class="col-xs-9">
              <div class="form">
                <form method="post" action="http://love.prorealnost.com/order.php">
                  <ul class="form__wrap row">
                    <li class="form__item col-xs-4">
                      <input type="text" class="input" name="name" placeholder="ivan@ivanov.com">
                    </li>
                    <li class="form__item col-xs-4">
                      <button class="btn btn-primary">
                        Получить запись вебинара
                      </button>
                    </li>
                  </ul>
                  <input type="hidden" name="trello-list-id" value="578362e2fc28fa1a77ae9318" />
                  <input type="hidden" name="mailchimp-product-interest-id" value="eb6470d55a" />
                  <input type="hidden" name="redirect" value="{{ site.url }}{{ page.redirect }}" />
                  <input type="hidden" name="form" value="header" />
                </form>
              </div>
            </div>
          </div>
        </div>
        <span class="s-main__sign">Спикер — Николай Воробьёв</span>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <h2 class="title">Ты&nbsp;можешь больше</h2>

        <p class="introtext">У&nbsp;меня есть пошаговая технология, которая поможет поставить большие цели и&nbsp;достичь&nbsp;их, несмотря на&nbsp;трудности и&nbsp;обстоятельства</p>

        <div class="row">
          <div class="col-xs-4">
            <h5>Поверить в&nbsp;себя</h5>
            <p>Даже если опыт говорит &laquo;у&nbsp;тебя не&nbsp;получится&raquo;</p>
          </div>
          <div class="col-xs-4">
            <h5>Определиться с&nbsp;целями</h5>
            <p>Найти &laquo;ту&nbsp;самую&raquo;, истинную цель, от&nbsp;которой ты&nbsp;покроешься мурашками</p>
          </div>
          <div class="col-xs-4">
            <h5>Взять и&nbsp;достичь</h5>
            <p>Не&nbsp;сдаваться, быть замотивированным и&nbsp;продуктивным всю дорогу к&nbsp;цели</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section s-what">
      <div class="container">
        <h2 class="title">Что возможно в&nbsp;твоей жизни благодаря этой системе</h2>

        <p class="introtext">Эта технология позволила мне и&nbsp;15000 моих учеников создать большую разницу в&nbsp;своей жизни&nbsp;&mdash; в&nbsp;спорте, деньгах, карьере, бизнесе и&nbsp;отношениях</p>

        <div class="row">
          <div class="col-xs-6">
            <h4>Чего добился я</h4>
            <article class="result">
              <h5>Спорт</h5>
              <p>Похудел на 21 килограмм</p>
              <p>Выполнил норматив КМС по пауэрлифтингу</p>
              <p>Прошёл курс обучения парашютному спорту AFF</p>
            </article>
            <article class="result">
              <h5>Путешествия</h5>
              <p>Поехал учиться в Германию</p>
              <p>Переехал жить в Москву</p>
              <p>Переехал жить в Киев</p>
              <p>Получил ВНЖ в Европе</p>
              <p>Переехал жить в Прагу</p>
            </article>
            <article class="result">
              <h5>Образование</h5>
              <p>Получил сертификат MCSE и ещё 15 разных сертификатов по IT</p>
              <p>Выучил английский, немецкий и испанский</p>
              <p>Научился продавать и создал отдел продаж из 6 человек</p>
              <p>Получил сертификат мастера НЛП</p>
            </article>
            <article class="result">
              <h5>Карьера и профессия</h5>
              <p>Стал тренером</p>
              <p>Написал свой тренинг x15</p>
              <p>Выступил на радио</p>
              <p>Сделал своё реалити-шоу два</p>
              <p>Стал ведущим тренером в компании</p>
              <p>Провёл тренинг за границей, в 7 разных странах</p>
              <p>Провёл тренинг на английском языке</p>
              <p>Написал и выпустил 3 полноценные бумажные книги и несколько небольших электронных</p>
              <p>Попал в телевизор — много раз как эксперт на Первом, ТНТ, СТБ и даже один раз, как ведущий на </p>1+1
            </article>
            <article class="result">
              <h5>Бизнес</h5>
              <p>Построил собственный бизнес в сфере IT — занял 25% своего рынка — 297 корпоративных клиентов</p>
              <p>Открыл филиал своего бизнеса в Москве</p>
              <p>Открыл тренинговую компанию</p>
              <p>Провел мастер-класс на 1 000 человек</p>
              <p>Сделал компанию международной</p>
              <p>Провел тренинги в 20 городах</p>
            </article>
            <article class="result">
              <h5>Деньги</h5>
              <p>Купил квартиру в центре</p>
              <p>Купил спортивную машину</p>
            </article>
            <article class="result">
              <h5>Отношения</h5>
              <p>Построил отношения с чудесной девушкой</p>
            </article>
            <article class="result">
              <h5>Отдых</h5>
              <p>Нырнул с моста в реку</p>
            </article>
          </div>
          <div class="col-xs-6">
            <h4>Чего добились ученики</h4>
            <article class="result">
              <h5>Деньги</h5>
              <p>
                <em>Миша Мартынов</em>
                стал долларовым миллионером за 4 месяца и купил завод (Усть-Ишимский комбинат)
              </p>
              <p>
                <em>Арсений Плотников</em>
                квартира с двумя балконами в Москве
              </p>
            </article>
            <article class="result">
              <h5>Спорт</h5>
              <p>
                <em>Алексей Девятериков</em>
                открыл школу виндсёрфинга на Канарах
              </p>
              <p>
                <em>Саша Кайсин</em>
                организует парусные регаты, cреди клиентов Альфа-банк и Порш
              </p>
              <p>
                <em>Максим Погребинский</em>
                скинул 20 кг
              </p>
            </article>
            <article class="result">
              <h5>Карьера и творчество</h5>
              <p>
                <em>Надя Хохлова</em>
                запустила собственный бренд модной одежды
              </p>
              <p>
                <em>Дима Никитин</em>
                нашел 18 млн.р. финансирования на свой первый фильм
              </p>
              <p>
                <em>Ирина Устьянцева</em>
                дизайнер интерьеров, обучает людей в передаче «Квартирный вопрос» на НТВ
              </p>
              <p>
                <em>Алексей Черновой</em>
                cтал крутым фотографом, организует фестиваль SunArt
              </p>
              <p>
                <em>Алексей X</em>
                получил семь миллионов рублей из государственного финансирования на открытие центра молодежного инновационного творчества
              </p>
            </article>
            <article class="result">
              <h5>Бизнес</h5>
              <p>
                <em>Константин Базоров</em>
                открыл сеть магазинов спортивного оборудования в 4 городах, победил в конкурсе «Молодой предприниматель России 2015»
              </p>
              <p>
                <em>Константин Бенко</em>
                директор компании Инфобизнес2.ру, за время тренинга увеличил прибыль компании в три раза
              </p>
              <p>
                <em>Максим Мартьянов</em>
                стал эксклюзивным представителем компании EBC-Brakes в России
              </p>
              <p>
                <em>Артем Хлопов</em>
                открыл сеть кальянных
              </p>
              <p>
                <em>Дмитрий Гейман</em>
                открыл сеть химчисток
              </p>
              <p>
                <em>Эви Скрынник</em>
                открыла финансовую компанию Fingooroo
              </p>
              <p>
                <em>Алексей Иванов</em>
                открыл мастерскую дизайна интерьеров Geometrium
              </p>
              <p>
                <em>Николай Коржик</em>
                открыл международную тренинговую компанию GrowUpCenter
              </p>
              <p>
                <em>Андрей Гуцул</em>
                создал производство и магазин изделий из кожи ToolBag
              </p>
              <p>
                <em>Ислам Ибрагимов</em>
                открыл медицинский центр в Праге
              </p>
              <p>
                <em>Александр Тихун</em>
                открыл сеть магазинов сотовой связи
              </p>
              <p>
                <em>Александр Покровский</em>
                открыл службу такси
              </p>
            </article>
          </div>
        </div>
      </div>
    </section>

    <section class="section s-program">
      <div class="container">
        <h2 class="title title--center">Программа вебинара</h2>
        <div class="row step">
          <div class="col-xs-4 step__item">
            <h5>Планка</h5>
            <p>Перестать соглашаться на&nbsp;меньшее и&nbsp;поднять свою планку</p>
          </div>
          <div class="col-xs-4 step__item">
            <h5>Выбор</h5>
            <p>Делать&nbsp;то, что хочется, а&nbsp;не&nbsp;то, что надо и&nbsp;не&nbsp;то, чего от&nbsp;тебя ждут другие</p>
          </div>
          <div class="col-xs-4 step__item">
            <h5>Готов</h5>
            <p>Развивать личные качества, которые помогут достичь цели</p>
          </div>
          <div class="col-xs-4 step__item">
            <h5>Цель</h5>
            <p>Поставить цель так, чтобы не&nbsp;было шансов её&nbsp;не&nbsp;достичь</p>
          </div>
          <div class="col-xs-4 step__item">
            <h5>План</h5>
            <p>Спланировать действия по&nbsp;достижению цели</p>
          </div>
          <div class="col-xs-4 step__item">
            <h5>Вовлечение</h5>
            <p>Проявлять мастерство коммуникации чтобы привлечь нужные ресурсы&nbsp;&mdash; найти время, инвестиции, нужных людей</p>
          </div>
          <div class="col-xs-4 step__item">
            <h5>Мотивация</h5>
            <p>Иметь эффективное внутреннее состояние&nbsp;&mdash; не&nbsp;выпадать, не&nbsp;бросать и&nbsp;не&nbsp;сдаваться</p>
          </div>
          <div class="col-xs-4 step__item">
            <h5>Продуктивность</h5>
            <p>Быть продуктивным, не&nbsp;лениться, а&nbsp;двигаться к&nbsp;цели шаг за&nbsp;шагом</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section s-quote">
      <div class="container">
        <div class="quote">
          <blockquote class="quote__text">&laquo;Я&nbsp;хотел бизнес закрывать, а&nbsp;теперь послушал тебя и&nbsp;развил его в&nbsp;три раза&raquo;</blockquote>
          <span class="quote__sign">&mdash;&nbsp;Максим Мартьянов</span>
        </div>
      </div>
    </section>

    <section class="section s-format">
      <div class="container">
        <h2 class="title title--center">Формат</h2>

        <div class="row">
          <div class="col-xs-4">
            <div class="s-format__message">
              <div class="s-format__message-text">
                Привет, выбери тему следующей среды — https://vk.com/klr20?w=wall-111743820_805/all
              </div>
            </div>
            <h4>Голосуй за&nbsp;полезную тему</h4>
            <p>Раз в&nbsp;неделю в&nbsp;закрытой группе &laquo;Вконтакте&raquo; участники клуба предлагают темы для обсуждения. После&nbsp;&mdash; 4&nbsp;дня идет голосование. Тема-победитель подробно разбирается на&nbsp;вебинаре</p>
          </div>
          <div class="col-xs-4">
            <div class="s-format__message">
              <div class="s-format__message-text">
                Даниил, напоминаю, что сегодня у нас в 20:00 мск занятие про деньги, ждём тебя:)
              </div>
            </div>
            <h4>Участвуй онлайн</h4>
            <p>Каждую среду в&nbsp;20:00 по&nbsp;Москве мы&nbsp;собираемся онлайн, чтобы разобрать тему, которую выбрали участники. За&nbsp;час до&nbsp;вебинара администратор Настя пришлет ссылку</p>
          </div>
          <div class="col-xs-4">
            <div class="s-format__message">
              <div class="s-format__message-text">
                Привет, жаль, что не успел на занятие вчера. Вот запись https://vk.com/video684697_45623904
              </div>
            </div>
            <h4>Или смотри запись</h4>
            <p>Если не&nbsp;можешь прийти, качай запись, но&nbsp;я&nbsp;рекомендую быть на&nbsp;занятии, потому что ты&nbsp;сможешь задать вопрос и&nbsp;сразу получить ответ. Плюс я&nbsp;уделю твоей проблеме персональное внимание, а&nbsp;значит получишь больше пользы</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section s-quote">
      <div class="container">
        <div class="quote">
          <blockquote class="quote__text">&laquo;После каждого вебинара устраиваю разнос сотрудникам&raquo;</blockquote>
          <span class="quote__sign">&mdash;&nbsp;Павел</span>
        </div>
      </div>
    </section>

    <section id="join" class="section s-price">
      <div class="container">
        <h2 class="title title--center">Записывайся</h2>

        <div class="row s-price__row">
          <div class="col-xs-4 s-price__item">
            <div class="s-price__item-text">
              <h5 class="s-price__item-header">Полгода&nbsp;&mdash; 5&nbsp;000 рублей</h5>

              <p>
                Живое участие
                <br/>
                Записи занятий
              </p>
            </div>
            <div class="s-price__item-button">
              <a class="btn btn-primary" href="/join-sixmonths/">Оплатить</a>
            </div>
          </div>
          <div class="col-xs-4 s-price__item">
            <div class="s-price__item-text">
              <h5 class="s-price__item-header">Месяц&nbsp;&mdash; 1&nbsp;000 рублей</h5>

              <p>
                Живое участие
                <br/>
                Записи занятий
              </p>
            </div>
            <div class="s-price__item-button">
              <a class="btn btn-primary" href="/join-onemonth/">Оплатить</a>
            </div>
          </div>
          <div class="col-xs-4 s-price__item">
            <div class="s-price__item-text">
              <h5 class="s-price__item-header--special">2&nbsp;недели&nbsp;&mdash; бесплатно</h5>

              <p>
                2&nbsp;недели
                <br/>
                Живое участие
              </p>
            </div>
            <div class="s-price__item-button">
              <button class="btn btn-vk" data-modal-target="modal">Вступить бесплатно</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include about.html %}

    <section class="section s-bonus">
      <div class="container">
        <h2 class="title">Хочешь две записи занятий в&nbsp;подарок?</h2>
        <p class="introtext">Расскажи в&nbsp;комментариях, какая тема тебе интересна. Мы&nbsp;подберем уроки и&nbsp;вышлем ссылку.</p>

        <div class="s-bonus__content" style="overflow: hidden;">
          <div id="vk_comments"></div>
        </div>
      </div>
    </section>
  </main>
</div>

{% include footer.html %}

<!--noindex-->
<div class="modal modal--full" data-modal-id="modal">
  <div class="modal-close" data-modal-action="close">Закрыть</div>
    <div class="form">
      <h3 class="title">Вступить в клуб</h3>
      
      <p>Члены Клуба общаются во&nbsp;&laquo;ВКонтакте&raquo;, поэтому, чтобы вступить в&nbsp;Клуб, укажи ссылку на&nbsp;страничку</p>

      <form method="post" action="http://love.prorealnost.com/order.php">
        <ul class="form__wrap row">
          <li class="form__item col-xs-6">
            <input type="text" name="vk" class="input input--outline" placeholder="https://vk.com/id***">
          </li>
          <li class="form__item col-xs-4">
            <button class="btn btn-primary">
              Вступить
            </button>
          </li>
        </ul>
        <input type="hidden" name="trello-list-id" value="56c58a45cef0c302e3ed379a" />
        <input type="hidden" name="redirect" value="http://goals.nickvorobiov.com/ok-free/" />
      </form>
    </div>
  </div>
</div>
<!--/noindex-->

<script type="text/javascript" src="//vk.com/js/api/openapi.js?122"></script>
<script type="text/javascript">
  VK.init({apiId: {{ site.vk_app_id }}, onlyWidgets: true});
  VK.Widgets.Comments("vk_comments", {limit: 20, width: "750", attach: "*"});
</script>