---
layout: base
permalink: /paid/
---

<div class="root-layout">
  {% include header.html %}
  <main class="main" role="main">
    <section class="section s-buy">
      <div class="container">
        <div class="row">
          <div class="col-xs-9 col-xs-offset-2">
            <h1 class="title">Спасибо!</h1>
            <p>
              Курс будет выслан на указанную электронную почту в ближайшее время
              <br/>
              В случае любых вопросов можешь обращаться ко мне напрямую <a href="https://vk.com/nickvorobiov">ВКонтакте</a> или <a href="mailto:me@prorealnost.com">по электронной почте</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
  {% include footer.html %}
</div>
