    <section id="about" class="section s-about" data-analytics-page="about">
      <div class="s-about__sticker-trigger-start"></div>
      <div class="s-about__sticker-trigger-finish"></div>
      <div class="s-about__sticker"></div>
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            <h2>Николай Воробьёв</h2>
            <p class="introtext"><b>тренирует 13 лет, ведёт программы на радио<br> и телевидении, пишет книги</b></p>

            <h4 class="title">Тренерский опыт</h4>
            <p>Начал тренировать в 2003 году. Провёл тренинги в 24&nbsp;городах России, Европы и&nbsp;Азии. Обучал сотрудников «Сбербанка», «Яндекса», «Альфа-Банка».</p>
            <p>С 2006 по 2010 ведущий тренер крупнейшей в мире компании, которая специализируется на знакомствах. С 2010 тренер по достижению прорывных результатов, развитию личных качеств и созданию отношений. Автор 5&nbsp;книг, 15&nbsp;тренингов, обучил 15&nbsp;000&nbsp;человек.</p>

            <h4 class="title">На телевидении и радио</h4>
            <ul>
              <li>2015 — шоу «Парк» на «Первом» — передача про настоящих мужчин</li>
              <li>2012 — реалити-шоу «ПроРеальность» — автор и ведущий</li>
              <li>Соавтор трёх реалити-шоу про отношения на ТНТ, 1+1 и Подстере</li>
            </ul>

            <h4 class="title">Книги</h4>
            <ul>
              <li>«Как стать богатым и успешным, оставаясь тупым и ленивым»</li>
              <li>«Быстрое поднятие самооценки»</li>
              <li>«Как встать с дивана и начать добиваться желаемого»</li>
              <li>Автор двух книг про отношения</li>
            </ul>
          </div>
        </div>
      </div>
    </section>