.s-quote {
  padding-top: 0 !important;
}

.quote {
  border: 2px solid $color-primary;
  padding: 8.125em;

  &__text {
    font-size: 1.714em;
    line-height: 1.6;
    font-weight: 700;
    margin: 0 0 0.333em 0;
  }
  &__sign {
    color: #666;
    font-size: 1.286em;
    font-style: italic;
  }

  blockquote::before {
    float: left;
    margin-top: -90px;
    margin-left: -90px;
    font-family: Helvetica;
    background-color: white;
    border: 2px solid $color-primary;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    content: '\201C';
    font-size: 70px;
    line-height: 100px;
    text-align: center;
    top: 0px;
    left: 0px;
    /*color: rgba(255,255,255,0.5);
    text-shadow: 0 1px 1px rgba(255,255,255,0.1);*/
  }
}
